{
        "target": "linux/amd64",
        "http": "0.0.0.0:56741",
        "workdir": "./syz-workdir",
        "kernel_obj": "KERNEL_VER",
        "image": "IMAGE_PATH",
        "sshkey": "IMAGE_KEY_PATH",
        "syzkaller": "syzkaller",
        "procs": 4,
        "type": "qemu",
        "reproduce": true,
        "scheduler_bin": "SCHED_BIN_PATH",
        "vm": {
                "count": 4,
                "kernel": "KERNEL_PATH",
                "cpu": 2,
                "mem": 2048
        }
}
